.hka{font-family: "º–∑¢≈È";
	         font-size: 36px;
	         font-weight: bold;
	         font-style: italic;
	         text-decoration: underline;
	         letter-spacing: 6px;
	         padding: 20px;
	         text-shadow: 6px 4px  #888888;}

.hkb{background-color: #99ccff;
	         padding:10px;
	         text-align: center;
	         color:blue;}
.hkc{background-color: #ddeeff;
	         padding:10px;}
.hkd{background-color: #ddeeff;
	         padding:10px;
	         color:blue;}
.hke{font-size: 16px;
	         text-align: center;
	         font-weight: bold;
	         color:#FFFFFF;
	         background-color: #4caf50;
	         padding: 10px 20px;
	         border-radius:15px;}